@using WebApplication2.Models
@{UrunVt urunVt = new UrunVt(); }
@model  UrunBilgi
@{
    UrunVt veritaban = new UrunVt();

}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Barkod Numarası</th>
        <th>Ürün İsmi</th>
    </tr>
    @foreach (var item in urunVt.UrunDb.ToList())
    {
        <tr>
            <td>@item.barkod</td>
            <td>@item.adi</td>
        </tr>
    }
</table>